{
  "extends": "@stacks/eslint-config",
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "sourceType": "module",
    "project": [
      "tsconfig.json",
      "tests/tsconfig.json"
    ]
  },
  "env": {
    "browser": false,
    "node": true
  },
  "rules": {
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/adjacent-overload-signatures": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/prefer-regexp-exec": 0,
    "@typescript-eslint/no-inferrable-types": 0
  }
}
